* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: #000000;
  transition: 1s;
}

#version {
  position: fixed;
  transform: translate(-100%, -100%);
  top: 100vh;
  left: 100vw;
  width: 190px;
  text-align: right;
  font-weight: 700;
  font-size: 13px;
  color: #a1a1a1;
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}
